@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');


body{
  background-color: #fdcfad;
}

h1{
  font-family: 'Pacifico', serif;
  font-size: 300px;
  color: #19114E;

}

h2 {
  font-family: 'Quicksand', serif;
  font-size : 50px;
  color: white;
  top: 100px;
}

.navigation{
  font-family: 'PT Sans Narrow', serif;
  font-size: 25px;
  color: #19114E;
  width: 1000px;
}



section {
  max-width: 1000px;
  margin : 0 auto;
}
#main-menu a{
  font-family: 'PT Sans Narrow', serif;
  color: #19114E;
  opacity: 200%;
  font-size: 1em;
  }

ul{
  font-family: 'PT Sans Narrow', serif;
  color: white;
  font-size: 90px;
  
}

a{
  font-family: 'PT Sans Narrow', serif;
  color: white;
  font-size: 2em;
}
